extends layout
block body-content
    div#content
        h2
          a(href="/faq") WhatStatus.info - Frequently Asked Questions

        div#twitter
          h3
            a(href="#twitter") Where can I get the latest status update if the site isn't accurate?
          p
            | Follow our Twitter account 
            a(href="https://twitter.com/whatcdstatus") @whatcdstatus
            |.

        div#disabled
          h3
            a(href="#disabled") My account is disabled, is there anything I can do?
          p
            | If you are having any problems with your account you'll have to join #what.cd-disabled on the IRC network. This also includes other problems with your account, not just disabled accounts. 

        div#irc
          h3
            a(href="#irc") How do I connect to the IRC network?
          p
            | You'll have to use an IRC client and connect to irc.what-network.net. The port is 6667 or 6697 if you are using SSL.

        div#mail
          h3
            a(href="#mail") My registration/activation mail isn't arriving
          p
            | You'll have to join #what.cd-disabled.
        
        div#invites
          h3
            a(href="#invites") How can I get invited to the site?
          p
            | Head over to 
            a(href="http://www.whatinterviewprep.com/") whatinterviewprep.com 
            | and read the instructions.
        
        div#irc-client
          h3
            a(href="#irc-client") How do I join IRC? The Java Applet / Mibbit isn't working.
          p
            | Use a real IRC client:
            h4 Mac
            ul.faq-list
              li Textual
              li Colloquy
              li irssi
              li weechat

            h4 Linux
            ul.faq-list
              li Hexchat
              li irssi
              li weechat

            h4 Windows
            ul.faq-list
              li Hexchat
              li irssi
              li mIRC






