extends layout

block body-content
    script
        $.getJSON("/api/status", function(components) {
            for (var component in components) {
                if(components[component] == 1) {
                    $("#status-" + component).html("Up");
                    $("#status-" + component).css("color", "#089a00");
                    $("#status-" + component + "-icon").attr('src', "images/up.png");
                } else if (components[component] == 0) {
                    $("#status-" + component).html("Down");
                    $("#status-" + component).css("color", "#ff1600");
                    $("#status-" + component + "-icon").attr('src', "images/down.png");
                } else {
                    $("#status-" + component).html("Updating...");
                    $("#status-" + component + "-icon").attr('src', "images/updating.png");
                }
            }
        });

    div#content
        div.logo
            img(src='#{logo_url}')
        div.status-dashboard
            table.service-table
                tr
                    td.icon
                        img(src, id='status-site-icon')
                    td.service Site - what.cd
                    td#status-site
                tr
                    td.icon
                        img(src, id='status-tracker-icon')
                    td.service Tracker - tracker.what.cd
                    td#status-tracker
                tr
                    td.icon
                        img(src, id='status-irc-icon')
                    td.service IRC - irc.what-network.net
                    td#status-irc
        div.disclaimer
            p This site is unofficial and is not affiliated with What.CD.
        div.twitter
            a.twitter-timeline(href='https://twitter.com/search?q=from%3Awhatcdstatus+OR+from%3Awhatcd+include%3Aretweets', data-widget-id='419095395902316544') Tweets by @whatcd and @WhatcdStatus
            script
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



