doctype 5
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="shortcut icon", href="images/favicon.ico")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="https://www.google.com/jsapi")
    script(src="/javascript/google-analytics.js")
  body
    a(href="https://twitter.com/#!/WhatcdStatus")
      img(src="images/twitter.png", alt="Follow us on Twitter!", class="follow-us")
    block body-content
  footer
    p All infos are cached. Updated every minute.
    ul
      li
        a(href="about") About
      li
        a(href="faq") FAQ
      li
        a(href="stats") Stats
      li
        a(href="https://twitter.com/whatcd") @whatcd on Twitter
      li
        a(href="https://twitter.com/#!/WhatcdStatus") @WhatcdStatus on Twitter