doctype 5
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="shortcut icon", href="images/favicon.ico")
  body
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24922611-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    a(href="https://twitter.com/#!/StatusWhat")
      img(src="images/twitter.png", alt="Follow us on Twitter!", class="follow-us")
    block body-content
  footer
    div.footer-info
        p
            | All infos are cached to go easy on the servers. Updated every 3 minutes.</br>
            | Suggestions? Bugs? <a href="https://what.cd/forums.php?action=viewthread&threadid=136411">Thread</a> | 
            | <a href="stats">Stats</a>
            | | <a href="https://twitter.com/whatcd">@whatcd</a> on Twitter | <a href="https://twitter.com/#!/StatusWhat">
            | @StatusWhat</a> on Twitter