extends layout

block body-content
    div#content
        h2
            a(href="http://whatstatus.info/") WhatStatus.info
        h3 Uptime
        h3 Uptime Records
        h3 What.CD Tracker Uptime
    a(href="https://twitter.com/#!/StatusWhat")
        img(src="images/twitter.png", alt="Follow us on Twitter!", class="follow-us")
    div#content